iframe{
  display: none;
}
.MuiButton-root{
    text-transform:none !important;
    padding: 12px 14px !important;
    font-weight: 700 !important;
    min-width: 180px !important;
}
.MuiButton-contained{
   background:rgba(255, 85, 222, 0.2) !important;
    border-radius: 50px !important;
    color: #FF55DE !important;
    
    
}
.MuiButton-outlined{
    border-color:#FF55DE !important;
    border-radius: 50px !important;
    color: #fff !important;
}
.MuiInput-root{
    input{
        color: #fff !important;
        &::placeholder{
            opacity: 0.4 !important;
        }
    }
}

.MuiSwitch-root {
    width: 28px !important;
    height: 16px !important;
    padding: 0 !important;;
    display: flex !important;;
    &:active{
      .MuiSwitch-thumb{
        width: 15px !important;;
      }
      .MuiSwitch-switchBase.Mui-checked{
        transform: translateX(9px) !important;;
      }
    }
    .MuiSwitch-switchBase{
      padding: 2px !important;
      color: #000 !important;
      &.Mui-checked{
        transform: translateX(12px) !important;;
       
        & + .MuiSwitch-track{
          opacity: 1 !important;;
          background-color: rgba(255, 85, 222, 1) !important;;
        }
      }
    }
    .MuiSwitch-thumb{
      box-shadow: 0 2px 4px 0 rgba(0 ,35 ,11 ,0.2) !important;;
      width: 12px !important;;
      height: 12px !important;;
      border-radius: 6 !important;;
    }
    .MuiSwitch-track{
      border-radius: 8px !important;;
      opacity: 1 !important;;
      background-color:rgba(255, 85, 222, 0.6) !important;;
      box-sizing: border-box !important;;
    }
}

// .slick-slider{
//   .slick-track{
//     margin:0 -14px;
//     .slick-slide-main{
//       padding: 0 14px;
//     }
//   }
// }
.slick-track{
  display: flex !important;
}
.slick-slide {
	margin: 0 10px;
}
.slick-list {
	margin: 0 -10px !important;
}
.slick-arrow {
  display: none !important;
}

.MuiAccordionSummary-expandIconWrapper.Mui-expanded{
  transform: rotate(225deg) !important;
}
.MuiSlider-thumb.Mui-focusVisible,
    .MuiSlider-thumb:hover {
      box-shadow: none !important;
    }